.nav-bar {
  padding: 0.8rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #282c34;
  color: white;

  .navigation {
    display: flex;
    align-items: center;
  }

  .logo {
    width: 50px;
  }
}

.blink {
  animation: blinker 1.5s linear infinite;
}

@keyframes blinker {
  50% { opacity: 0; }
}
