.App {
  text-align: center;
}

.main-container {
  padding: 2rem;
  font-size: calc(10px + 2vmin);
}

.link {
  font-weight: bold;
  color: white;
  text-decoration: none;
  margin-left: 1rem;
}

.link:hover {
  text-decoration: underline;
}

.blink {
  animation: blinker 1.5s linear infinite;
}

@keyframes blinker {  
  50% { opacity: 0; }
}

.container {
  display: 'flex';
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.table {
  width: 100%;
}
